/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../public/bg-eCommerce.jpg') ; 
  background-size: auto;
  background-position: top;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}